.todo-form {
  margin-bottom: 32px;

  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #1976d2;
    outline: none;
    width: 320px;
    background: transparent;
    color: #161a2b;

    &::placeholder {
      color: #e2e2e2;
    }

    &-edit {
      border: 2px solid #149fff;
    }

    @media (max-width: 423px) {
      width: 80%;
      border-radius: 4px;
    }
  }

  .todo-button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background-color: #1976d2;
    color: #fff;
    text-transform: capitalize;

    &-edit {
      background-color: #149fff;
      padding: 16px 22px;
    }

    @media (max-width: 423px) {
      border-radius: 4px;
      margin-top: 0.5rem;
    }
  }
}
