.Grades {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background-color: #1976d2;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}
